@import "tailwindcss";

@layer general {
  main {
    @apply h-screen flex flex-row;
  }

  #main-content-wrapper {
    @apply basis-10/12 h-full;
  }

  #main-content-wrapper > header {
    @apply h-1/12 flex flex-row justify-between items-center px-8 py-5 border-b border-border-sidebar bg-bg-sidebar text-text-primary;
  }

  #main-content-wrapper > header > #header-user-data {
    @apply flex flex-row space-x-3;
  }

  .sidebar-wrapper{
    @apply basis-2/12;
  }
}

@layer sidebar {
  .sidebar-wrapper {
    @apply bg-bg-sidebar flex flex-col p-3 space-y-7 text-text-primary;
  }

  .logo-wrapper{
    @apply flex flex-row items-center px-3 pt-2 justify-between;
  }

  .logo-wrapper > div {
    @apply flex flex-row items-center space-x-2;
  }

  .logo-wrapper > div > #logo-svg {
    @apply p-1 rounded bg-white text-bg-sidebar;
  }

  .logo-wrapper > div > #logo-text {
    @apply text-2xl font-medium italic;
  }
  
  #theme-switch {
    @apply rounded-sm p-1 text-text-primary;
  }

  .navigation-bar {
    @apply flex flex-col justify-between h-full;
  }

  .navigation-bar > #mapper {
    @apply space-y-1;
  }

  .navigation-bar > #mapper > .nav-item {
    @apply flex flex-row space-x-2 items-center py-2 px-3 hover:text-bg-sidebar-active hover:bg-bg-sidebar-active-bg rounded-sm;
  }

  .navigation-bar > #mapper > .nav-item > span {
    @apply font-light;
  }

  #profile-wrapper {
    @apply flex flex-row justify-between px-3 pb-3 items-center;
  }
  
  #profile-wrapper > #profile-description-wrapper {
    @apply flex flex-row items-center text-sm space-x-1;
  }

  #profile-wrapper > #profile-description-wrapper > #profile-data-wrapper > #name {
    @apply text-text-primary;
  }

  #profile-wrapper > #profile-description-wrapper >  #profile-data-wrapper > #email {
    @apply text-text-muted;
  }

  #profile-wrapper > #LogoutBtn {
    @apply text-text-primary hover:text-danger;
  } 
}

@layer TicketsPage {
  #TicketsPageWrapper {
    @apply flex flex-row h-11/12;
  }

  #TicketsPageWrapper > #TicketsListWrapper, #TicketSettingsWrapper {
    @apply basis-3/12;
  }

  #TicketsPageWrapper > #TicketsEditorWrapper {
    @apply basis-6/12;
  }

  #TicketsListWrapper, #TicketsEditorWrapper {
    @apply border-r border-border-default;
  }
}

@layer TicketList {
  #TicketListComponent {
    @apply flex flex-col;
  }

  #TopicHeader { 
    @apply flex flex-row items-center justify-between py-4 px-3 border-b border-border-default font-medium;
  }

  #TopicHeader > div {
    @apply flex flex-row space-x-1 items-center;
  }

  #ticketsList {
    @apply h-full;
  }
}