@import "tailwindcss";

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Black.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/montserrat/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Schoolbell";
  src: url("./fonts/schoolbell/Schoolbell-Regular.ttf") format("TrueType");
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-design: 'Schoolbell', cursive;
}

.logo {
  font-family: var(--font-design);
}